const nodemailer = require("nodemailer");


class MailerSingleton {
    constructor() { 
    
        this.transporter = nodemailer.createTransport({
            host: 'smtp.hostname.com', //smtp server address
            port: 465,     //smtp port on server above
            secure: true, // true for 465, false for other ports
            auth: {
            user: 'username', // generated ethereal user
            pass: 'passwd' // generated ethereal password
            }
        });

        
        this.transporter.verify((error, success) => {
            if (error) {
                console.log(error);
            } 
            else {
                console.log('EMAIL SERVER ONLINE!');
            }
        });
    }

    
    getMailAdress() {
        return 'mail@hostname.com'; //some smpt server need to set this or send mail fail and rp server crash.
    }

    isEmailValid(email) {
        const re = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
        return re.test(email);
    }

    sendMail(message) {
        this.transporter.sendMail(message, (err, info) => {
            if (err) {
                console.log(`Error occurred. ${err.message}`);
                return process.exit(1);
            }
        });
    }

}
const mailerSingleton = new MailerSingleton();
module.exports = mailerSingleton;